body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    text-align: center;
    width: 440px;
    height: 200px;
    background-color: rgb(43, 42, 42);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}